#Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

#Environments
.env
.venv/
venv/
env/

#OS
.DS_Store

#Logs and data
data/raw/
data/processed/*.npy
data/parsed/*.csv
data/processed/*.pkl

!data/
!data/processed/
!data/raw/*.txt
!data/parsed/

#VSCode
.vscode/