#Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

#Environments
.env
.venv/
venv/
env/

#OS
.DS_Store

#Logs and data
data/raw/
data/processed/*.npy
data/parsed/*.csv
data/processed/*.pkl
data/processed/move/*.npy
data/processed/move/*.pkl

!data/raw/*.txt
!data/parsed/

#VSCode
.vscode/

#Large Models
models/stage2_move/final/